body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.img{
    width: 100%;
    height: 300px;
    -o-object-fit: contain;
       object-fit: contain;
}

.product_wrap{
    margin-top: 50px;
}

